.header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  padding: 25px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: 1px solid rgb(201, 201, 201);
  margin: auto;
  max-width: 950px;
}

.headerBtn {
  border: none;
  border-radius: 5px;
  background-color: #35c5f0;
  color: #ffffff;
  width: 100px;
  height: 40px;
  font-size: 15px;
  font-weight: 700;
}

.headerBtn:hover {
  background-color: #35c5f0;
}
